body{    
    background: #f2f2f2;
}
body p{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: #30343f;
    height:65px;
}
/* #menu{
    margin-left: 800px;    
} */

header{
/* margin-top: 50px; */
background:  url('../img/funkos-banner.webp');
/* background: #ba3842; */
/* vertical-align: top; */
/* background-repeat: no-repeat; */
background-size: cover;
height: 350px;
width: 1200px;
}
.boton-header{
background-color: #ffff;

border-radius: 20px;
}
.boton-header:hover{
    background-color: #11c43b;
    
    color:#ffff;
    }
main p .nuevo{
background-color: #ba3842;
}
.main-filas{
    margin: 0px auto;
}
.juguete{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.btn-juguetes{
    border-radius: 20px;
}
footer{
    background-color: #30343f;
    height: 180px;
}
